.comparisonBox {
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  width: 100%;
  max-width: 600px;
}

.priceRow {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.priceSource {
  font-weight: bold;
}

.priceValue {
  color: #333;
}

.priceValueBest {
  color: #28a745;
  font-weight: bold;
}
